*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second{
    font-size: 3rem;

}

@media screen and (max-width: 600px) {
    h2{
        font-size: 3rem;
        text-align: center;
    }

    .countdown{
        display: flex;
        flex-wrap: wrap;
    }
}